<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pre Course Assignment</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Pre Course Assignment</h1>
        <img th:src="@{/images/puppy.jpg}" alt="pup">
        <h2>
            <span th:text="${sentence}"></span><br>
            <a th:text="${repolink}" th:href="@{${repolink}}"></a>
        </h2>
    </div>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>